__pycache__/
**/__pycache__/
*.py[cod]
*.egg-info/
dist/
web/dist/
web/node_modules/
web/*.tsbuildinfo
.env
.venv/
*.db

**/*.db
misc/*

jira/

*.rdb
debug*

.vscode/*
.DS_Store

docs/

data/
tmp/dev/
